

$color-btn : #fab240;
$color-text : #fdffff;
$color-text-2: #eaecee; 
$color-text-card : #77797a;
$bg-card : #1a1c1e;

// .container {
// 	max-width: 100% !important;
// 	padding: 0 15px !important;
// 	@media screen and (min-width: 1300px) {
// 		padding: 0 15px !important;		
// 		max-width: 1250px !important;
// 	}
// }

p {
	line-height: 1.4 !important;
}

// Navbar
.navbar {
	background: rgb(0 0 0 / 70%) !important;
	padding: 10px 0;
	.container {
		overflow: hidden;
		.navbar-brand {
			color: #fff !important;
			font-weight: 500;
			padding-right: 100px;
			font-size: 22px;
			letter-spacing: 2.5px;
		}
		ul {
				color: #fff !important;
			li {
				.nav-link {
					opacity: 1;
					color: #fff !important;
					font-weight: 400;
					z-index: 99;
					font-size: 15px;
					letter-spacing: 1.5px;
					padding: 25px;
				}
			}
		}
		.btn-log {
			a {
				color: #fff;
				opacity: 1;
				padding-left: 35px !important;
				font-weight: 400;
				letter-spacing: 1.5px;
			}
		}
	}
}

// Section 1
.sect-1 {
	.container-fluid {
		.img-banner {
			background: url("../assets/main-bg.jpg") no-repeat;
			height: 130vh;
			max-width: 100%;
			background-size: cover;
			background-position: center;
			.text-banner {
				h3 {
					font-size: 80px;
					color: $color-text;
					letter-spacing: 2px;
					margin-bottom: 0;
					display: inline-block;
					margin: 0 0.5rem;
					animation: backInDown;
					animation-duration: 4s; 
				}
				p {
					color: $color-text;
					letter-spacing: 2px;
					font-weight: 300;
					font-size: 24px;
					margin: 35px 0 45px ;
					animation: fadeInUp;
					animation-duration: 2.5s;
				}
				a {
					padding: 14px 65px;
					color: #333;
					font-weight: 700;
					border: none;
					border-radius: 5px;
					background-color: $color-btn;
					&:hover {
						background-color: #f09b14;
					}
					display: inline-block;
					animation: 1s fadeIn;
				}
			}
			.btn-scroll-down {
				position: absolute;
				bottom: -200px;
				// animation: pulse 1.5s infinite;
				animation: shakeY 20s infinite;
				a {
					color: $color-text;
					font-weight: 600;
					text-decoration: none;
				}
				.icon-arrow {
					svg {
						font-size: 20px;
						color: $color-text;
					}
				}
			}
		}
	}
}

// Section 2
.sect-2 {
	background: url("../assets/the-games-bg.jpg") no-repeat ;
	background-size: cover;
	z-index: -9;
	object-fit: fill;
	.container {
		padding: 270px 0 200px;
		.row {
			.item-text-title {
				color: $color-text;
				p {
					font-weight: 300;
					letter-spacing: 2px;
					margin-bottom: 0;
				}
				h3 {
					font-weight: 400;
					font-size: 50px;
					letter-spacing: 2px;
				}
			}
			.img-carousel {
				.carousel {
					.carousel-indicators {
						position: absolute;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 2;
						display: flex;
						justify-content: center;
						padding: 0;
						margin-right: 15%;
						margin-bottom: 0;
						margin-left: 15%;
						list-style: circle;
					}
					.carousel-indicators [data-bs-target] {
						box-sizing: content-box;
						flex: 0 1 auto;
						border-radius: 50%;
						width: 10px;
						height: 10px;
						padding: 0;
						margin: 0 15px;
						text-indent: -999px;
						cursor: pointer;
						background-clip: padding-box;
						border: 0;
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						transition: opacity .6s ease;
						list-style: circle;
						button {
							list-style: circle;
						}
					}
					.carousel-inner {
						.carousel-item {
							img {
								width: 200px;
								height: 500px;
							}
						}
					}
					.carousel-control-prev {
						left: -92px;
					}
					.carousel-control-next {
						right: -92px;
					}
				}
			}
		}
	}
}

// Section 3
.sect-3 {
	background:  url("../assets/features.jpg")  no-repeat center;
	background-size: cover;
	height: 120vh;
	background-position-x: 20% ;
	padding: 230px 0;
	.container {
		overflow: hidden;
		.items-text {
			.title {
				color: $color-text;
				p {
					margin-bottom: 3px;
					font-size: 20px;
					font-weight: 400;
					letter-spacing: 2px;
				}
				h3 {
					margin-bottom: 50px;
					font-weight: 400;
					font-size: 55px;
					letter-spacing: 3px;
				}
			}
			.text-desc {
				ul {
					padding-left: 20px;
					position: relative;
					span {
						color: #fab240;
						text-transform: uppercase;
					}
					li {
						font-size: 20px;
						padding-left: 13px;
						letter-spacing: 1.5px;
						&::marker {
							font-size: 1.5em;
						}
					}
					li:nth-child(1) {
						&::before {
							background-color: #fff;
							content: "";
							position: absolute;
							left: -5px;
							top: 30px;
							height: 123px;
							width: 2px;
						}
						color: $color-text;
						p {
							
							margin: 10px 0 35px;
							font-size: 17px;
							font-weight: 300;
							letter-spacing: 1px !important;
						}
					}
					li:nth-child(2) {
						list-style-type: circle;
						color: $color-text;
						margin-bottom: 20px;
					}
					li:nth-child(3) {
						list-style-type: circle;
						color: $color-text;
						margin-bottom: 10px;
					}
					// li {
					// 	color: $color-btn;
					// 	text-transform: uppercase;
					// 	p {
					// 		text-transform: none;
					// 		color: $color-text;
					// 		font-weight: 300;
					// 	}
					// }
				}
			}
		}
	}
}

// Section 4
.sect-4 {
	background: url("../assets/requirements.png") , url("../assets/newsletter.png") ;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	.container {
		padding: 120px 0 150px;
		overflow: hidden;
		.title {
			font-weight: 300;
			position: relative;
			color: #fdffff;
			top: 60px;
			right: 60px;
			letter-spacing: 2px;
		}
		.text-title {
			color: $color-text;
			margin-bottom: 100px;
			h3 {
				font-size: 65px;
				letter-spacing: 2.5px;
				font-weight: 400;
			}
		}
		.row {
			--bs-gutter-x: 0;
			.card {
				background: transparent;
				border: 1px solid #333;
				padding: 10px;
				border-radius: 0;
				.card-title {
					h3 {
						margin-bottom: 0;
						color: $color-btn;
						font-size: 20px;
						line-height: 1;
						font-weight: 400;
						letter-spacing: 2px;
					}
				}
				.desc-card {
					margin-bottom: 10px;
					p {
						color: $color-text-2;
						font-weight: 400;
					}
				}
			}
		}
	}
}

// Section 5
.sect-5 {
	background: url("../assets/top-score-bg.png") no-repeat center;
	background-size: cover;
	.container {
		padding: 120px 0;
		.row {
			.items-text {
				h3 {
					font-size: 60px;
					font-weight: 300;
					letter-spacing: 1.5px;
					color: $color-text;
				}
				p {
					color: $color-text;
					font-weight: 300;
					margin-bottom: 40px;
				}
				a {
					background-color: $color-btn;
					padding: 10px 65px !important;
					display: inline-block;
					font-weight: 700;
					border-radius: 4px;
					&:hover {
						background-color: #f09b14;
					}
				}
			}
			.items-card {
				width: 560px;
				height: 660px;
				position: relative;
				// border: 1px solid #fff;
				.blocks-card:nth-child(1){
					position: absolute;
					right: 0;
					top: 0;
				}
				.blocks-card:nth-child(2){
					position: absolute;
					margin: 40px 0;
					left: 0;
					bottom: 30%;
				}
				.blocks-card:nth-child(3){
					position: absolute;
					bottom: 0;
					right: 25px;
				}

			.blocks-card {
				position: absolute;
				.card-body {
					width: 400px;
					border-radius: 10px;
					background-color: $bg-card;
					.title-card {
						margin-bottom: 10px;
						.img-title-profile {
							position: relative;
							margin-right: 30px;
							img:nth-child(1) {
								position: absolute;
								left: 9px;
								width: 60px;
							}
							img:nth-child(2) {
								position: relative;
								z-index: 99;
								width: 60px;
							}
						}
						.text-title {
							margin-top: 10px;
							h3 {
								color: $color-btn;
								font-weight: 400;
								font-size: 25px;
								line-height: .9;
								letter-spacing: 1.5px;
								margin-bottom: 0;
							}
							p {
								font-size: 18px;
								color: $color-text-card ;
							}
						}
						.img-twitter {
							margin-top: 10px;
							img {
								width: 20px;
							}
						}
					}
				}
				.desc-body {
					p:nth-child(1) {
						color: $color-text-2;
						margin-bottom: 8px;
					}
					p:nth-child(2) {
						color: $color-text-card;
					}
				}
				}
			}
		}
	}
}

.items-footer {
	background: url("../assets/newsletter.png") center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 120px 0 0;
	// Section 6
	.sect-6 {
		.container {
			.row {
				.item-img {
					.img {
						img {
							margin: auto;
							animation: 5s pulse infinite;
						}
					}
				}
				.items-text {
					color: $color-text;
					.title {
						p {
							line-height: 1;
							font-size: 17px;
							letter-spacing: 1.5px;
						}
						h3 {
							font-weight: 400;
							line-height: 1;
							font-size: 60px;
							margin-bottom: 20px;
							letter-spacing: 1.5px;
						}
					}
					.desc {
						margin-bottom: 50px;
						p {
							font-weight: 300;
							font-size: 15px;
						}
					}
					.item-button {
						color: $color-text;
						display: flex;
						.card-email {
							background-color: #1b1d1f;
							padding: 5px 120px 5px 10px;
							border-radius: 5px;
							p {
								margin-bottom: 0;
								color: #77797a;
								font-size: 14px;
							}
							a {
								text-decoration: none;
								color: $color-btn;
							}
						}
						button {
							background-color: $color-btn;
							border: 0;
							color: #1a1c1e !important;
							font-weight: 700;
							padding: 10px 70px;
							margin-left: 15px;
						}
					}
				}
			}
		}
	}

	// Footer
	.footer {
		padding-top: 100px;
		.container {
			hr {
				color: #eaeaea;
				margin: 0;
			}
			.foot-top {
				display: flex;
				justify-content: end;
				color: $color-text;
				ul {
					display: flex;
					list-style: none;
					padding: 0;
					li {
						text-transform: uppercase;
						a {
							color: $color-text;
							font-size: 14px;
							letter-spacing: 1.5px;
							font-weight: 600;
							padding: 10px 23px  !important;
							text-decoration: none;
							&:hover {
							color: $color-btn !important;
							}
						}
					}
				}
				.foot-icon {
					display: flex;
					a {
						line-height: 0;
						font-size: 22px;
						padding: 10px 23px  !important;
						&:hover {
							color: $color-btn !important;
							}
					}
				}
			}
			.foot-bottom {
				padding: 10px 5px 25px 5px ;
				.text-copyright {
					p {
						color: #77797a;
						font-size: 13px;
					}
				}
				.text {
					p {
						font-weight: 600;
						color: $color-text-2;
						text-transform: uppercase;
						font-size: 14px;
						letter-spacing: 1.5px;
					}
				}
			}
		}
	}
}

.btn-scroll-top {
	button {
		background: rgba(95, 95, 95, 0.6) !important;
		position: absolute;
		right: 18px;
		bottom: 20px;
		padding: 8px;
		color: #fff !important;
		border-radius: 50%;
		border: 0;
		font-size: 23px;
		line-height: 0;
		animation: shakeY 15s infinite;
	}
}

